body {
    background-color: transparent;
}

.navigation-bar {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
    align-items: center;
}

.navigation-bar li {
    list-style-type: none;
}

.navigation-bar a {
    text-decoration: none;
    color: inherit;
}

.navigation-bar img {
    height: 40px;
    width: 40px;
}

.navigation-bar ul {
    display: flex;
    gap: 0.5rem;
    margin: 0;
    height: 70px;
    background-color: rgba(255,255,255,0.18);
    backdrop-filter: blur(5px);
    padding: 0 2rem;
}

.navigation-bar li {
    float: right;
    display: flex;
    align-items: center;
    color: white;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 200ms;
    padding: 0 2rem;
}

.navigation-bar li:hover {
    border-bottom-color: white;
}


/*mobile screen size*/
@media screen and (max-width: 480px) {
    .home { 
        background: url('assets/home/background-home-mobile.jpg') no-repeat center center fixed;
    }

    .center {
        height: 100%;
        width: 100%;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .home row {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .explore:hover {
        box-shadow: 0px 0px 0px 50px rgba(255,255,255,0.26);
    }
}

/*tablet screen size*/
@media screen and (min-width: 481px) and (max-width: 900px) {
    .home {
        background: url('assets/home/background-home-tablet.jpg') no-repeat center center fixed;
        overflow: hidden;
    }

    .center {
        height: 100%;
        width: 100%;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .home row {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .content {
        margin: auto;
    }

    .explore {
        width: 200px;
        height: 200px;
        line-height: 200px;
        font-size: 28px;
        letter-spacing: 0.4vw;
        margin: auto;
    }

    .explore:hover {
        box-shadow: 0px 0px 0px 64px rgba(255,255,255,0.26);
    }
}

/*desktop screen size*/
@media screen and (min-width: 901px) {
    .home {
        background: url('assets/home/background-home-desktop.jpg') no-repeat center center fixed; 
    }

    .content {
        margin: 18vw 0vw 0vw 7vw;
    }

    .explore {
        width: 230px;
        height: 230px;
        line-height: 230px;
        font-size: 28px;
        letter-spacing: 0.4vw;
        float: right;
        margin-top: 24vw;
    }

    .explore:hover {
        box-shadow: 0px 0px 0px 84px rgba(255,255,255,0.26);
    }
}




.home{ 
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;  
    height: 100vh;
    position: absolute;
    z-index: -1;
    padding-right: 0;
    overflow: hidden;
}

.home h5 {
    color: #d0d6f9;
    font-size: 28px;
    letter-spacing: 4.75px;
    font-family: 'Barlow Condensed', sans-serif;
}

.home h1 {
    font-family: 'Bellefair', serif;
    font-size: 150px;
    color: #ffffff;
}

.home p {
    color: #d0d6f9;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.content {
    width: 450px;
    height: 382px;
}

.explore {
    background-color: #ffffff;
    text-align: center;
    font-family: 'Bellefair', serif;
    border-radius: 100%;
    transition: box-shadow 1s ease-out 100ms;
}




