body {
    background-color: transparent;
}

/**************************************************************************************************************************************/
.navigation-bar {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
    align-items: center;
    font-family: 'Barlow Condensed', sans-serif;
}

.navigation-bar a {
    text-decoration: none;
    color: inherit;
}

.navigation-bar img {
    height: 40px;
    width: 40px;
}

.navigation-bar ul {
    gap: 0.5rem;
    margin: 0;
    background-color: rgba(255,255,255,0.18);
    backdrop-filter: blur(5px);
    padding: 0 2rem;
    position: absolute;
    right: 0;
}

.navigation-bar h6 {
    letter-spacing: 1.75px;
}

.navigation-bar button {
    color: white;
    background-color: transparent;
    height: 100%;
    padding: 0 3rem;
    border: none;
}

.navigation-bar button:focus {
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border-bottom: 3px solid white;
}

.navigation-bar li {
    --ul-left-padding: 2rem;
    list-style-type: none;
    float: right;
    display: flex;
    align-items: center;
    border-bottom: 3px solid transparent;
    transition: border-bottom-color 400ms;
}

.navigation-bar li:hover {
    border-bottom-color: rgba(255,255,255,0.46);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    -webkkit-transition: all 0.3s ease-in-out;
    background-color: white;
}
/**************************************************************************************************************************************/

/**************************************************************************************************************************************/
/*mobile screen size*/
@media screen and (max-width: 480px) {
    .home { 
        background: url('assets/home/background-home-mobile.jpg') no-repeat center center fixed;
    }

    .center {
        height: 100%;
        width: 100%;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .home row {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .explore {
        width: 150px;
        height: 150px;
        line-height: 150px;
        font-size: 24px;
        letter-spacing: 0.2vw;
        margin: auto;
    }

    .explore:hover {
        box-shadow: 0px 0px 0px 50px rgba(255,255,255,0.26);
    }

    .home h5 {
        font-size: 22px;
        letter-spacing: 4.25px;
    }
    
    .home h1 {
        font-size: 130px;
    }

    .navigation-bar ul {
        padding-top: 90px;
        align-items: left;
    }

    .navigation-bar li {
        width: 100%;
        text-align: right;
    }

    .hamburger {
        padding-right: 1rem;
        display: block;
        z-index: 1;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .display {
        position: fixed;
        left: 20%;
        top: 0px;
        gap: 0;
        flex-direction: column;
        background-color: rgba(255,255,255,0.18);
        backdrop-filter: blur(5px);
        height: 100vh;
        padding-top: 20vh;
    }

    .display li {
        margin: 1.5rem 0;
    }

    .disappear {
        display: none;
    }
}

/**************************************************************************************************************************************/

/*tablet screen size*/
@media screen and (min-width: 481px) and (max-width: 900px) {
    .home {
        background: url('assets/home/background-home-tablet.jpg') no-repeat center center fixed;
        overflow: hidden;
    }

    .center {
        height: 100%;
        width: 100%;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .home row {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .content {
        margin: auto;
    }

    .explore {
        width: 200px;
        height: 200px;
        line-height: 200px;
        font-size: 28px;
        letter-spacing: 0.4vw;
        margin: auto;
    }

    .explore:hover {
        box-shadow: 0px 0px 0px 64px rgba(255,255,255,0.26);
    }

    .home h5 {
        font-size: 28px;
        letter-spacing: 4.75px;
    }
    
    .home h1 {
        font-size: 150px;
    }

    .navigation-bar {
        margin-top: 0.9rem;
    }

    .navigation-bar ul {
        height: 70px;
        display: flex;
    }
}

/**************************************************************************************************************************************/

/*desktop screen size*/
@media screen and (min-width: 901px) {
    .home {
        background: url('assets/home/background-home-desktop.jpg') no-repeat center center fixed; 
    }

    .content {
        margin: 18vw 0vw 0vw 7vw;
    }

    .explore {
        width: 230px;
        height: 230px;
        line-height: 230px;
        font-size: 28px;
        letter-spacing: 0.4vw;
        float: right;
        margin-top: 24vw;
    }

    .explore:hover {
        box-shadow: 0px 0px 0px 84px rgba(255,255,255,0.26);
    }

    .navigation-bar {
        margin-top: 1.5rem;
    }

    .navigation-bar ul {
        margin-top: 1rem;
        height: 70px;
        display: flex;
    }

    .home h5 {
        font-size: 28px;
        letter-spacing: 4.75px;
    }
    
    .home h1 {
        font-size: 150px;
    }
}
/**************************************************************************************************************************************/

/**************************************************************************************************************************************/
.home{ 
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;  
    height: 100vh;
    position: absolute;
    z-index: -1;
    padding-right: 0;
    overflow: hidden;
}

.home h5 {
    color: #d0d6f9;
    font-family: 'Barlow Condensed', sans-serif;
}

.home h1 {
    font-family: 'Bellefair', serif;
    color: #ffffff;
}

.home p {
    color: #d0d6f9;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.content {
    width: 450px;
    height: 382px;
}

.explore {
    background-color: #ffffff;
    text-align: center;
    font-family: 'Bellefair', serif;
    border-radius: 100%;
    transition: box-shadow 1s ease-out 100ms;
}
/**************************************************************************************************************************************/

/**************************************************************************************************************************************/
